@import '../../../styles.scss';

.navbar-parent{
    display: flex;
    background: $tech !important;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    margin:  0 10px;
    img{
        height: 100px;
    }
}