

<div class="parent">

  <app-navbar class="nav-parent">
    <div style="display: flex; align-items: center;">
      <a class="links" *ngFor="let item of navbar" href="">{{item.name}}</a>
      <button (click)="editing=!editing">Admin</button>
    </div>
  </app-navbar>

  <div class="container">

    <form *ngIf="editing" [formGroup]="form">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor (input)="saveContent()" [editor]="editor" formControlName="editorContent"> </ngx-editor>
      </div>
    </form>

    <app-web-page
    [content]="form.controls['editorContent'].value"
    ></app-web-page>

  </div>

  <app-footer></app-footer>

</div>